


@media (max-width: 768px) {
    main {
        flex-direction: column; 
    }

    article, aside {
        flex: none; 
        width: 100%; 
    }
}






body {
    display: flex;
    flex-direction: column;
    height: 100vh; 
}


main {
    display: flex;
    flex-direction: row;
    flex: auto; 
}



@media (max-width: 768px) {
    main {
        flex-direction: column; 
    }

    article, aside {
        flex: none; 
        width: 100%; 
    }
}


aside {
    flex: 1; 
    overflow-y: auto; 
}


header, footer {
    padding: 1rem;
    background-color: #f8f8f8; ooter 
    text-align: center; 
}
